doctype html
html
    head
        title Backbone App
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/lib/underscore.js')
        script(src='/javascripts/lib/jquery.js')
        script(src='/javascripts/lib/backbone.js')
        script(src='/javascripts/client.js')
        script(src='/javascripts/init.js')
    body
        block content